//@import "../../../styles/all";

.Slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .Slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .Slide {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}