@import "../../../styles/all";

.loadingBackground {
  animation: $loading-animation;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%,
                                        rgba(255, 255, 255, 0.2) 40%,
                                        rgba(255, 255, 255, 0.1) 45%);
  background-size: 400px;
}

.loading {
  @extend .loadingBackground;
  color: transparent;
  min-width: 5em;
  text-shadow: none;
}

.loaded {
  animation: $fade-in-animation;
}
