.app {
  color: white;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Grid__Left {
  height: 100%;
  width: 300px;
}

.Grid__Right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
