@import "../../../styles/all";

.DotsContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    padding: 5px 0;
  
    .Dot {
      background: $ui-background;
      display: inline-block;
      padding: 10px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 50%;
    }
    .active {
      background: #fff;
      display: inline-block;
      padding: 10px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 50%;
    }
  }