@font-face {
  font-family: 'Material Icons';
  src: url('./fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('./fonts/MaterialIcons-Regular.woff') format('woff'),
       url('./fonts/MaterialIcons-Regular.eot') format('embedded-opentype'),
       url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.base {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  //font-size: 22px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Rules for sizing the icon. */
  &.md-18, &.small { font-size: 0.8em; }
  &.md-22, &.normal { font-size: 1em; }
  &.md-28, &.medium{ font-size: 1.2em; }
  &.md-36, &.large { font-size: 1.5em; }
  &.md-48, &.extralarge { font-size: 2em; }
}


/* Rules for using icons as black on a light background. */
.base.md-dark { color: rgba(0, 0, 0, 0.54); }
.base.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.base.md-light { color: rgba(255, 255, 255, 1); }
.base.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
