# Build and editor thing
/build/
/build-ninja/
/build-xcode/
/build-make/
*~
*.dir
*.idea/
.build-vs/
.cproject
.project
.vs/
.vscode
CMakeCache.txt
CMakeFiles
cmake-build-*
cmake_install.cmake
install_manifest.txt
Makefile

# OS specific things
.DS_Store
Thumbs.db

# OpenSpace-generated folders and files
/bin/
/cache/
/cache-*/
/cache_gdal/
/documentation/
/logs/
/screenshots/
/recordings/
/sync/
/temp/
# Customization is not supposed to be committed
customization.lua
# The COMMIT info is generated everytime CMake is run
COMMIT.md
