bin/
build/
cache/
tmp/
ext/SGCT
.DS_Store
*.swp

# generated glsl files
*.gglsl
*.GhoulGenerated.glsl
shaders/generated/*

# CMake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Eclipse stuff
.cproject
.project

# Doxygen stuff
html/
latex/
shaders/ABuffer/constants.hglsl
*.OpenSpaceGenerated.glsl
LuaScripting.txt
Properties.txt
log.html
