bin/
build/
cache/
tmp/
ext/SGCT
.DS_Store
*.swp

# generated glsl files
*.gglsl
*.GhoulGenerated.glsl
shaders/generated/*

# CMake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Eclipse stuff
.cproject
.project

# Doxygen stuff
html/
latex/
shaders/ABuffer/constants.hglsl
*.OpenSpaceGenerated.glsl
LuaScripting.txt
Properties.txt
log.html
gui/externaltimecontrol/CMakeLists.txt
gui/externaltimecontrol/main.cpp
gui/externaltimecontrol/mainwindow.cpp
gui/externaltimecontrol/mainwindow.h
include/openspace/version.h
data/scene/67P/obj/67P_rotated_5_130.obj
data/spice/NewHorizonsKernels/
data/spice/RosettaKernels/
data/scene/plutoprojectionhybrid/textures/Shenk_180.jpg
data/scene/plutoprojectionhybrid/textures/barycenter.png
data/scene/plutoprojectionhybrid/textures/defaultProj.png
data/scene/plutoprojectionhybrid/textures/pluto_highres_180.jpg
data/scene/plutoprojectionhybrid/utcEvents.txt
data/scene/rosetta/obj/mainbodyros.obj
data/scene/rosetta/obj/solarpanelleft.obj
data/scene/rosetta/obj/solarpanelright.obj
data/scene/rosetta/textures/defaultProj.png
data/scene/rosetta/textures/glare_blue.png
data/scene/rosetta/textures/gray.png
data/scene/rosetta/textures/squarefov.png
data/scene/saturn/textures/saturn.jpg
data/scene/stars/colorbv.cmap
data/scene/stars/speck/stars.speck
data/scene/stars/textures/glare.png
data/scene/stars/textures/halo.png
data/scene/sun/textures/marker.png
data/scene/sun/textures/sun-glare.png
data/scene/sun/textures/sun.jpg
data/scene/uranus/textures/uranus.jpg
data/scene/venus/textures/venus.jpg
data/scene/vestaprojection/VestaComet/VestaComet_5000.obj
data/spice/DawnKernels/
data/scene/jupiterprojection/ProjectionsOfInterest/
data/scene/67P/textures/black.jpg
data/scene/67P/textures/defaultProj.jpg
data/scene/67P/textures/gray.jpg
data/scene/67P/textures/gray.png
data/scene/67P/textures/texmapflipped.jpg
data/scene/67P/textures/white.jpg
data/scene/67P/textures/white.png
data/scene/callistoprojection/textures/callisto.jpg
data/scene/ceres/textures/gray.png
data/scene/charonprojection/textures/Charon-Text.png
data/scene/charonprojection/textures/charon_highres.jpg
data/scene/charonprojection/textures/charon_highres_annotated.jpg
data/scene/charonprojection/textures/defaultProj.png
data/scene/dawn/obj/mainbodydawn.obj
data/scene/dawn/obj/solarpanelleft.obj
data/scene/dawn/obj/solarpanelright.obj
data/scene/dawn/textures/glare_blue.png
data/scene/dawn/textures/gray.png
data/scene/earth/textures/ToastMapOfEarth.jpg
data/scene/earth/textures/earth_bluemarble.jpg
data/scene/earth/textures/earth_bluemarble_height.jpg
data/scene/earth/textures/earth_night.jpg
data/scene/earth/textures/marker.png
data/scene/europaprojection/textures/europa.jpg
data/scene/ganymedeprojection/textures/ganymede.jpg
data/scene/ioprojection/textures/io.jpg
data/scene/jupiter/textures/jupiter.jpg
data/scene/mars/textures/mars.jpg
data/scene/mercury/textures/mercury.jpg
data/scene/milkyway/textures/DarkUniverse_mellinger_8k.jpg
data/scene/neptune/textures/neptune.jpg
data/scene/newhorizons/models/Labels.obj
data/scene/newhorizons/models/NewHorizonsCleanModel.obj
data/scene/newhorizons/textures/NHTextureFlipCol.jpg
data/scene/newhorizons/textures/goldfoilbump.tif
data/scene/newhorizons/textures/labels.png
data/scene/pluto/textures/Shenk_180.jpg
data/scene/pluto/textures/pluto_highres_180.jpg
data/scene/plutoprojectionhybrid/assets/core_v9h_obs_getmets_v8_time_fix_nofrcd_mld.txt
data/scene/plutoprojectionhybrid/textures/3.jpg
data/scene/plutoprojectionhybrid/textures/Pluto-Text.png
data/scene/vestaprojection/VestaComet/VestaComet.mtl
data/scene/vestaprojection/textures/defaultProj_backup.png
data/scene/vestaprojection/textures/dummy.jpg
data/scene/vestaprojection/textures/glare.png
data/scene/vestaprojection/textures/projectMe.png
data/spice/MAR063.BSP
data/spice/de430_1850-2150.bsp
data/spice/jup260.bsp
