[submodule "ext/ghoul"]
	path = ext/ghoul
	url = https://github.com/OpenSpace/Ghoul.git
[submodule "openspace-data"]
	path = openspace-data
	url = git@openspace.itn.liu.se:/openspace-data
[submodule "ext/kameleon"]
	path = ext/kameleon
	url = git@openspace.itn.liu.se:/kameleon
