[submodule "ext/ghoul"]
	path = ext/ghoul
	url = https://github.com/OpenSpace/Ghoul.git
[submodule "modules/kameleon/ext/kameleon"]
	path = modules/kameleon/ext/kameleon
	url = https://github.com/OpenSpace/Kameleon.git
[submodule "ext/spice"]
	path = ext/spice
	url = https://github.com/OpenSpace/Spice.git
[submodule "ext/sgct"]
	path = ext/sgct
	url = https://github.com/opensgct/sgct.git
[submodule "modules/touch/ext/libTUIO11"]
	path = modules/touch/ext/libTUIO11
	url = https://github.com/mkalten/TUIO11_CPP
