Adam Rohdin <adam.rohdin@outlook.com> <adam.rohdin@liu.se>
Adam Rohdin <adam.rohdin@outlook.com> Arohdin <adam.rohdin@liu.se>
Adam Rohdin <adam.rohdin@outlook.com> Arohdin <adam.rohdin@visualiseringscenter.se>

Alexander Bock <mail@alexanderbock.eu> <alexander.bock@liu.se>
Alexander Bock <mail@alexanderbock.eu> <alexander.bock@me.com>

Anton Arbring <antar420@student.liu.se> antar420 <antar420@student.liu.se>

Elon Olsson <olssonelon@gmail.com> Elon <olssonelon@gmail.com>
Elon Olsson <olssonelon@gmail.com> ElonOlsson <olssonelon@gmail.com>
Elon Olsson <olssonelon@gmail.com> OLSSON <eolsson@ndc.nasa.gov>

Emil Axelsson <nils.emil.axelsson@gmail.com> <mail@emilaxelsson.se>
Emil Axelsson <nils.emil.axelsson@gmail.com> = <emil.axelsson@liu.se>
Emil Axelsson <nils.emil.axelsson@gmail.com> <emiax775@student.liu.se>
Emil Axelsson <nils.emil.axelsson@gmail.com> <emil@Emils-MBP.lan>

Emilie Ho <emeliewho@gmail.com> Emilie <emeliewho@gmail.com>

Emma Broman <emmabroman740@gmail.com> <emma95.broman@hotmail.com>
Emma Broman <emmabroman740@gmail.com> <emma.broman@liu.se> 
Emma Broman <emmabroman740@gmail.com> <emmbr740@student.liu.se>

Eric Myers <EricMyers47@gmail.com> <myers@EricMyers.com>

Erik Broberg <erikbroberg90@gmail.com> <Erik Broberg>
Erik Broberg <erikbroberg90@gmail.com> nusic <erikbroberg90@gmail.com>

Erik Sunden <eriksunden85@gmail.com> eriksunden <eriksunden85@gmail.com>
Erik Sunden <eriksunden85@gmail.com> eriksunden <eriksunden@users.noreply.github.com>

Gene Payne <payne.gene@gmail.com> GPayne <payne.gene@gmail.com> 
Gene Payne <payne.gene@gmail.com> <gpayne@c-67-216.eduroam.liu.se> 
Gene Payne <payne.gene@gmail.com> <gpayne@dhcp19217.sci.utah.edu>

Hans-Christian Helltegen <hanhe945@student.liu.se> HC Helltegen <hanhe945@student.liu.se>
Hans-Christian Helltegen <hanhe945@student.liu.se> <hhellteg@gs674-ccmcviz2.gsfc.nasa.gov>

Ingela Rossing <pringela@gmail.com> Lingis <pringela@gmail.com>
Ingela Rossing <pringela@gmail.com> unknown <pringela@gmail.com>

Joakim Kilby <jockekilby@gmail.com> <joakim.kilby@liu.se>

Jonas Strandstedt <jonas.strandstedt@gmail.com> jonasstrandstedt <jonas.strandstedt@gmail.com>

Jonathas Costa <jon.costa@gmail.com> <jon.costa@gmailcom>

Kalle Bladin <kallebladin@gmail.com> kalbl <kallebladin@gmail.com>
Kalle Bladin <kallebladin@gmail.com> Kalle <kallebladin@gmail.com>
Kalle Bladin <kallebladin@gmail.com> kbladin <kallebladin@gmail.com>
Kalle Bladin <kallebladin@gmail.com> Karl Bladin <Karl Bladin>

Karin Reidarman <karin_lr@hotmail.com> KarRei <karin_lr@hotmail.com> 

Lovisa Hassler <lovisa.hassler@liu.se> liuloppan <lovisa.hassler@liu.se>
Lovisa Hassler <lovisa.hassler@liu.se> <lovha71@liu.se>
Lovisa Hassler <lovisa.hassler@liu.se> Your Name <you@example.com>

Malin Ejdbo <malin.ejdbo@gmail.com> Malin E <malin.ejdbo@gmail.com>

Matthew Territo <github@mterrito.com> <territo-sci@users.noreply.github.com>
Matthew Territo <github@mterrito.com> <wundahful@users.noreply.github.com>
Matthew Territo <github@mterrito.com> <Matthew Territo>
Matthew Territo <github@mterrito.com> <wundahful@d>
Matthew Territo <github@mterrito.com> wundahlful <github@mterrito.com>
Matthew Territo <github@mterrito.com> wundahful <wundahful@no-reply.github.com>
Matthew Territo <github@mterrito.com> <mterrito@WundahfulMacBook-2.local>

Micah Acinapura <micahnyc@gmail.com> <micahnyc@nyu.edu> 
Micah Acinapura <micahnyc@gmail.com> micahnyc <micahnyc@gmail.com> 
Micah Acinapura <micahnyc@gmail.com> Micah <micahnyc@gmail.com> 
Micah Acinapura <micahnyc@gmail.com> Micah <micah@Opens-MacBook-Pro.local> 

Michal Marcinkowski <michal.j.marcinkowski@gmail.com> michal <michal.j.marcinkowski@gmail.com>

Sebastian Piwell <sebastian.piwell@gmail.com> piwell <sebastian.piwell@gmail.com>

Stefan Seibert <mail@stefanseibert.com> <stefan.seibert@liu.se>

Ylva Selling <ylva.selling@gmail.com> <ylvse560@student.liu.se> 
Ylva Selling <ylva.selling@gmail.com> <ys5140@nyu.edu>
Ylva Selling <ylva.selling@gmail.com> ENG-VIDAVIZ-0\ylvas <ylva.selling@gmail.com>
Ylva Selling <ylva.selling@gmail.com> sylvass <ylva.selling@gmail.com>
