@import '../../../styles/all';

.ErrorBox {
  border-top: 3px solid transparent;
  padding: $sidebar-padding;
  width: 100%;
}

.severe,
.error {
  background: $ui-danger;
  border-color: darken($ui-danger, 10%);
}

.warning {
  background: $ui-warning;
  border-color: darken($ui-warning, 10%)
}
