@import "../styles/all";

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: $font-family;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.storyTitle {
  font-size: 3em;
  font-family: $font-family;
  color: $text-color-focus;
  position: absolute;
  top: 20px;
  left: 40px;
}
