.content {
    height: 100%;
}

.spaceFirstChildren {
    padding: 0 20px;

    & > div {
        padding: 10px 0;
    }
}

.filesConverted {
    padding: 5px 10px;
}

.footer {
    width: 50%;
    // margin: auto;
    align-self: center;
    margin-top: 30px;
}

.convertButton {
    margin: 20px 0;
}