<div id="page-content-wrapper">
  <div class="container-fluid documentation-container">
    <h1>OpenSpace Scene License Information</h1>
    <p>Version: {{version.[0]}}.{{version.[1]}}.{{version.[2]}}</p>
    {{#each sceneLicenses}}
      {{> scenelicense}}
    {{/each}}
  </div>
</div>