<div class="documentation-item">
  <div class="row">
    <div class="col-lg-12">
      <p>
        <a href="#{{urlify key}}" name="{{urlify key}}">
          <span class="documentation-key">{{key}}</span>
        </a>
        <p>{{script}}</p>
      </p>
    </div>
  </div>
</div>
