@import "../../../styles/all";

.dateController {
  display: flex;
  flex-direction: column;
  min-width: 110px;
  width: 100%;
}

.active {
  background: rgba(black, 0.5);
  border-bottom: 3px solid $ui-highlight-secondary;
}

.date {
  float:left;
  width: 60px;
  margin-right: 20px;
}

.label {
  float: left;
}

.dateButton {
  min-width: 100px;
  display: flex;
}
