@import "../../../styles/all";

.sightsController {
  display: flex;
  flex-direction: column;
  min-width: 110px;
  width: 100%;
}

.active {
  background: rgba(black, 0.5);
  border-bottom: 3px solid $ui-highlight-secondary;
}

.sightsLabel {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.sightsLabel:last-child {
  padding: 10px;
}

.sightsLabel:active {
  color: $ui-highlight-secondary;
}
