@import "../../../styles/all";

.sightsController {
  display: flex;
  flex-direction: column;
  min-width: 110px;
  width: 100%;
}

.active {
  background: rgba(black, 0.5);
  border-bottom: 3px solid $ui-highlight-secondary;
}

.popover {
  width: 200px;
}
