.TimeController {
  display: flex;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
}

.TimeText {
  width: 17em;
  text-align: center;
}

.SimulationIncrement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
