@import "../../../styles/all";

.TimeController {
  display: flex;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
}

.TimeText {
  width: 17em;
  text-align: center;
}

.SimulationIncrement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.PlayerContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

$icon-size: 32px;

.Icon {
  font-size: $icon-size;

  &.active {
    color: $ui-highlight-secondary;
  }
}