@import "../../../styles/all";

.UtilitiesButton {
  padding: $button-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;

  &:hover {
    background: $ui-background-hover;
    outline: 0;
  }

  &.active {
    background: rgba(black, 0.5);
    border-bottom: 3px solid $ui-highlight-secondary;
  }
}

.UtilitiesButton:active {
  background: rgba(black, 0.5);
  border-bottom: 3px solid $ui-highlight-secondary;
}

$icon-size: 32px;

.Icon {
  font-size: $icon-size;
}

.Instructions {
  position: absolute;
  top: 0;
  right: 0;
  z-index:-9999;
  height: 80%;
  margin-right: ($base-padding);
  margin-top: ($base-padding);
  padding: 2%;
  animation: $fade-out-animation;
  animation-delay: 8s;
}
