.base {
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.smallLabel {
  font-size: 0.7rem;
  line-height: 1;
  padding-top: 0.3em;
}
.mediumLabel {
  font-size: 0.9rem;
  line-height: 1.2;
  padding-top: 0.3em;
}
.largeLabel {
  font-size: 1.1rem;
  line-height: 1.4;
  padding-top: 0.3em;
}
