// metrics
$bottom-bar-height: 60px;
$sidebar-tab-height: 60px;

// padding
$base-padding: 14px;
$vertical-padding: $base-padding / 2;
$button-padding: $vertical-padding $base-padding;
$sidebar-padding: ($base-padding / 2);
$popover-horizontal-padding: $base-padding / 2;

// element-specific config
$scrollbar-width: 10px;
$popover-arrow-size: 0.5rem;

// Input
$input-font-size: 13px;
// the font size of the label
$input-label-size: 10px;
// total margin above and below input label
$input-label-margin: 6px;
// thickness of the loading indicating border
$input-loading-border-width: 2px;
// padding
$input-padding-horizontal: 7px;
$input-padding-vertical: $base-padding * 2;

$input-total-height: $input-padding-vertical + $input-font-size;
