@import "../../styles/all";

.Picker {
  align-items: center;
  display: flex;
  height: 100%;
  padding: $button-padding;

  &:hover {
    background: $ui-background-hover;
  }
}

.Title {
  display: flex;
  flex-direction: column;
}

.Name {
  font-size: 1.2rem;
  height: 21px;
  line-height: 1;
}
