@import "../../../styles/all";

.MarkerInfo {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    align-self: center;
    justify-content: center;
    color: white;
    width: 200px;
    margin-left: -100px;
    padding-bottom: 5px;
}

.Icon {
  background-color:rgba(0, 0, 0, 0.01)
}

.Icon:active {
  color: $ui-highlight-secondary;
}

.InfoPopover {
  position: absolute;
  transform: translate(20%, -50%);
  width: 300px;
  padding: 5px;
}

.InfoText {
  padding: 5px;
}
