@import "../../../styles/all";

.MarkerInfo {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    align-self: center;
    justify-content: center;
    color: white;
    width: 200px;
    margin-left: -100px;
}
