html, body {
  background-color: #222;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: #000;
  min-width: 800px;
}

header div {
  float: left;
  color: #ddd;
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}

@media (max-width: 1024px) {
  header div {

  }
}

label {
  margin-right: 10px;
}

table {
  position: relative;
  top: 80px;
  width: 100%;
  background-color: #222;
}

td, th {
  padding: 4px 15px 3px;
}

.log-date {
  white-space: nowrap;
}

h1 {
  color: #fff;
  padding-left: 15px;
  float: left;
  margin-right: 15px;
}

#summary {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
}

#filter-level-selector {
  background-color: #333;
  color: #eee;
}

.hidden {
  display: none;
}

.log-level-trace {
  color: #eee;
  background-color: #333;
  border-bottom: 1px solid #111;
}
.log-level-trace td:first-child {
  border-left: 10px solid #111;
}

.log-level-debug {
  background-color: #3A4556;
  border-bottom: 1px solid #172228;
  color: #ccd1d6;
}
.log-level-debug td:first-child {
  border-left: 10px solid #172228;
}

thead, .log-level-info {
  color: #eee;
  background-color: #333;
  border-bottom: 1px solid #111;
}
.log-level-info td:first-child {
  border-left: 10px solid #111;
}

thead th:first-child {
  border-left 10px solid #fff;
}

.log-level-warning {
  color: #3e3115;
  background-color: #fef8c3;
  border-bottom: 1px solid #efcd3f;
}
.log-level-warning td:first-child {
  border-left: 10px solid #efcd3f;
}

.log-level-error {
  color: #fcdcdc;
  background-color: #d66767;
  border-bottom: 1px solid #721c1c;
}
.log-level-error td:first-child {
  border-left: 10px solid #721c1c;
}

.log-level-fatal {
  color: #220f21;
  background-color: #ff7dc1;
  border-bottom: 1px solid #b84398;
}
.log-level-fatal td:first-child {
  border-left: 10px solid #b84398;
}

.summary {
  padding: 5px;
  cursor: pointer;
}
.summary-warning {
  background-color: #fef8c3;
}
.summary-error {
  background-color: #d66767;
  color: #fcdcdc;
}
.summary-error a {
  color: #fff;
}

.summary-fatal {
  background-color: #ff7dc1;
}
.summary-fatal a {
  color: #fff;
}

.summary-ok {
  background-color: #bbdda9;
}

#no-messages {
  position: relative;
  top: 120px;
  margin-left: 20px;
  color: #ddd;
}