@import "../../../styles/all";

.wrapper {
  display: inline;
  position: relative;
}

.input {
  background: rgba(white, 0.05);
  border: 0;
  box-sizing: content-box;
  color: $text-color-focus;
  display: inline;
  line-height: 1;
  margin: 0;
  min-width: 10px;
  padding: 0;

  &:focus,
  &:hover {
    outline: 0;
    background: $ui-background-hover;
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
}

.hidden {
  left: -100000000000px; // Wohooo!
  position: absolute;
  visibility: hidden;
}
