@import "../../styles/all";

.Slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.Container {
    position: relative;
    color: black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.StoryInfo {
    height: 50%;
    width: 30%;
    min-height: 400px;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: $ui-background;
}

.StoryName {
    position: absolute;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2.5em;
    min-width: 500px;
}

.Description {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 1em;
    text-align: left;
    margin: 0 auto;
    padding: 25px;
    min-width: 500px;
}
