@import "../../styles/all";

.StoryButton {
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-background-hover;
  cursor: pointer;
  transition: transform ease-in .1s;
  position: absolute;
  top: 72%;
  left: 10%;
  z-index: 999;
  color: white;

  &:hover {
    transition: transform ease-in .1s;
    transform: scale(1.1);
  }
}
