.app {
  //color: white;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.AppGrid__Left {
  width: 300px;
}

.AppGrid__Right {

}
