@import "../../../styles/all";

.FocusButton {
    padding: $button-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
  
    &:hover {
        background: $ui-background-hover;
        outline: 0;
    }
  
    &.active {
        background: rgba(black, 0.5);
        border-bottom: 3px solid $ui-highlight-secondary;
        color: $ui-highlight-secondary;
    }
  }

$icon-size: 32px;

.Icon {
  font-size: $icon-size;
}
