<div class="documentation-item item-level-{{level name}}">
  <div class="row">
    <div class="col-lg-12">
      <p>
        <a href="#{{urlify name}}" name="{{urlify name}}">
          <span class="documentation-key">{{name}}</span>
        </a>
      </p>
      {{#each properties}}
        {{> property}}
      {{/each}}
      {{#each propertyOwners}}
        {{> propertyOwners}}
      {{/each}}
    </div>
  </div>
</div>