/* Documentation */

.documentation-name, .documentation-name:hover, .documentation-name:focus {
  text-decoration: none;
  color: #333;
  outline: none;
}

.documentation-item {
  background-color: #f4f4f4;
  border-left: 6px solid;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.item-level-1 {
  border-color: #343C47;
  background-color: #f4f4f4;
}

.item-level-2 {
  border-color: #505760;
  background-color: #fff;
}

.item-level-3 {
  border-color: #5E6C7C;
  background-color: #f4f4f4;
}

.item-level-4 {
  border-color: #537399;
  background-color: #fff;
}

.item-level-5 {
  border-color: #2569BA;
  background-color: #f4f4f4;
}

.item-level-6 {
  border-color: #208AE2;
  background-color: #fff;
}

.documentation-item.remote-scripting {
  border-left: 2px solid #4c1315;
  background-color: #fcdcdc;
  color: #4c1315;
}

.documentation-item.local-scripting {
  border-left: 2px solid #2d4256;
  background-color: #dcf1f9;
  color: #2d4256;
}

.documentation-type {
  color: #888;
  font-size: 0.8em;
  font-style: italic;
}

.documentation-function-arguments,
.documentation-function-return
{
  font-size: 0.8em;
}

.documentation-function-arguments > .arguments-name {
  color: #777;
  font-style: italic;
}

.documentation-function-arguments > .arguments-type,
.documentation-function-return
{
  color: #aaa;
}

.documentation-key {
  color: #333;
  font-weight: bold;
}

.documentation-description {
  font-size: 0.9em;
}

.documentation-documentation {
  font-size: 0.9em;
}

.documentation-container {
  font-size: 1.2em;
}

.documentation-small {
  font-size: 0.8em;
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 280px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 280px;
    width: 0;
    height: 100%;
    margin-left: -280px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -280px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 280px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
