@import '../../../styles/colors.scss';

$baseColor: #fff;
$itemColor: darken($baseColor, 20%);
$nonItemColor: darken($baseColor, 60%);

$evenBgColor: lighten($ui-background, 3%);

.list {

}

.item {
    padding: 10px;

    color: $itemColor;
    &.even {
        background-color: $evenBgColor;
    }

    &:hover {
        // color: $baseColor;
        background-color: $ui-background-hover;
        cursor: pointer;
    }
}

.nonItem {
    color: $nonItemColor;
}